In [2]:
import IPython
print("IPython version:      %6.6s (need at least 1.0)" % IPython.__version__)

# Numpy is a library for working with Arrays
import numpy as np
print("Numpy version:        %6.6s (need at least 1.7.1)" % np.__version__)

# SciPy implements many different numerical algorithms
import scipy as sp
print("SciPy version:        %6.6s (need at least 0.12.0)" % sp.__version__)

# Pandas makes working with data tables easier
import pandas as pd
print("Pandas version:       %6.6s (need at least 0.11.0)" % pd.__version__)

# Module for plotting
import matplotlib.pyplot as plt
#print("Mapltolib version:    %6.6s (need at least 1.2.1)" % matplotlib.__version__)

# SciKit Learn implements several Machine Learning algorithms
import sklearn
print("Scikit-Learn version: %6.6s (need at least 0.13.1)" % sklearn.__version__)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

IPython version:       6.1.0 (need at least 1.0)
Numpy version:        1.14.2 (need at least 1.7.1)
SciPy version:        0.19.1 (need at least 0.12.0)
Pandas version:       0.20.3 (need at least 0.11.0)
Scikit-Learn version: 0.19.1 (need at least 0.13.1)

In [8]:
reviews = pd.read_csv('../data/seattle/seattle_reviews.csv')
calendar = pd.read_csv('../data/seattle/seattle_calendar.csv')
listing = pd.read_csv('../data/seattle/seattle_listings.csv')

In [10]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [11]:
calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [13]:
listing.head()
list(listing)

['listing_id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'reviews_per_month']

In [14]:
listing.groupby("neighbourhood_group_cleansed").count()

,listing_id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
neighbourhood_group_cleansed,,,,,,,,,,,,,,,,,,,,,
Ballard,230,230,230,230,230,222,204,230,230,179,...,193,230,0,230,230,230,230,230,230,193
Beacon Hill,118,118,118,118,118,110,104,118,118,82,...,103,118,0,118,118,118,118,118,118,103
Capitol Hill,567,567,567,567,567,527,469,567,567,396,...,459,567,0,567,567,567,567,567,567,462
Cascade,89,89,89,89,89,86,64,89,89,56,...,65,89,0,89,89,89,89,89,89,65
Central Area,369,369,369,369,369,354,313,369,369,276,...,318,369,0,369,369,369,369,369,369,320
Delridge,79,79,79,79,79,74,71,79,79,64,...,65,79,0,79,79,79,79,79,79,65
Downtown,530,530,530,530,530,510,446,530,530,343,...,456,530,0,530,530,530,530,530,530,458
Interbay,11,11,11,11,11,11,10,11,11,10,...,9,11,0,11,11,11,11,11,11,9
Lake City,67,67,67,67,67,65,57,67,67,47,...,56,67,0,67,67,67,67,67,67,56
Magnolia,61,61,61,61,61,60,50,61,61,45,...,47,61,0,61,61,61,61,61,61,47
Northgate,80,80,80,80,80,75,70,80,80,58,...,65,80,0,80,80,80,80,80,80,66
Other neighborhoods,794,794,794,794,794,754,699,794,794,617,...,651,794,0,794,794,794,794,794,794,664
Queen Anne,295,295,295,295,295,279,236,295,295,213,...,245,295,0,295,295,295,295,295,295,248
Rainier Valley,159,159,159,159,159,154,137,159,159,123,...,134,159,0,159,159,159,159,159,159,134
Seward Park,44,44,44,44,44,42,42,44,44,38,...,39,44,0,44,44,44,44,44,44,39
University District,122,122,122,122,122,121,99,122,122,89,...,95,122,0,122,122,122,122,122,122,98
West Seattle,203,203,203,203,203,197,178,203,203,150,...,162,203,0,203,203,203,203,203,203,164